@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

:root {
    /* primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stats: hsla(0, 0%, 100%, 0.6);

}

p {
    color: var(--slightly-transparent-white);
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

@media (min-width: 375px) {
    .card {
        display: flex;
        flex-direction: column;
        background-color: var(--dark-desaturated-blue);
        width: 320px;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        margin-top: 5rem;
    }

    .card-image {
        width: 100%;
        height: 240px;
        object-fit: cover;
        background: linear-gradient(
            0deg,
            hsla(277, 64%, 61%, 0.5) 0%,
            hsla(277, 64%, 61%, 0.5) 100%
        ), url(./images/image-header-mobile.jpg) center no-repeat;
        background-size: cover;
        border-radius: 7px 7px 0 0;
    }

    .card-content {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }

    .card-content h1 {
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--white);
    }

    .card-content h1 span {
        font-size: inherit;
        font-weight: inherit;
        color: var(--soft-violet);
    }

    .card-content .card-content-paragraph {
        color: var(--slightly-transparent-white);
        font-size: 1rem;
        margin: 1rem 0;
    }

    .stat-heading {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
    }

    .stat-header h2 {
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .stat-header p {
        color: var(--slightly-transparent-white-stats);
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.0625rem;
        font-weight: 400;        
    }
    
}

@media (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        background-color: var(--dark-desaturated-blue);
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        margin-top: 5rem;
        background-color: var(--dark-desaturated-blue);
        width: 60vw;
    }

    .card-content {
        width: 50%;
        padding: 4rem;
        text-align: left;
    }
    
    .card-content h1 {
        font-size: 2.1rem;
        color: var(--white);
    }
    
    .card-content h1 span {
        font-size: inherit;
        font-weight: inherit;
        color: var(--soft-violet);
    }
    
    .card-content .card-content-paragraph {
        color: var(--slightly-transparent-white);
        font-size: 1rem;
        margin: 2rem 1rem 2rem 0;
    }
    
    .card-image {
        width: 50%;
        height: 353px;
        background: linear-gradient(
            0deg,
            hsla(277, 64%, 61%, 0.5) 0%,
            hsla(277, 64%, 61%, 0.5) 100%
        ), url(./images/image-header-desktop.jpg) center no-repeat;
        background-size: cover;
        border-radius: 0 7px 7px 0;
    }
    
    .stat-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
